# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Database / local files
*.db
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node / frontend future use
node_modules/
dist/
build/